Repository keykey7/fabbwled, pull requests merged in 2023-12, with the labels that each got.

#572 new click-system + rules/effects
  fabbwled-backend/src/cli/java/ch/bbw/fabbwled/lands/CliTestMain.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/SectionHandler.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/SectionNode.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section15.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section44.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section523.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section528.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section82.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/rules/DefenceBaseScore.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/rules/DefenceItems.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/rules/SectionChangeClearsVolatile.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/rules/ShardsNeverNegativeRule.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/rules/StaminaNeverOverMaxRule.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/Action.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/Condition.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/YamlSectionHandler.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/YamlSectionWriter.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/character/AbilityEnum.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/character/Character.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/character/PlayerDto.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/controller/PlayerController.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/CharacterService.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/DiceRollHelper.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/PlayerSession.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/SectionService.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/ShardSystem.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/effects/OnAttributeRefresh.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/effects/OnPlayerChange.java
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/book/book1/Section15Test.java
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/controller/PlayerControllerTest.java
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/service/CharacterServiceTest.java
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/service/DiceRollHelperTest.java
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/service/ShardSystemTest.java
Labels: enhancement, region-backend

#558 Add resurrection deal to yaml
  fabbwled-backend/section-schema.json
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/Action.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/ActionBuilder.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/Condition.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/RawAction.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/RawCondition.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/character/Resurrection.java
Labels: region-backend

#947 663 section 280 book 1
  fabbwled-backend/src/main/resources/sections/253-288.yaml
Labels: section

#463 Feature/api main page
  fabbwled-frontend/.eslintrc.cjs
  fabbwled-frontend/package-lock.json
  fabbwled-frontend/src/SectionRenderer.tsx
  fabbwled-frontend/src/api/character.ts
  fabbwled-frontend/src/components/CharacterCard/CharacterCard.tsx
  fabbwled-frontend/src/interfaces/character.ts
  fabbwled-frontend/src/routes/create/AdventureSheet.tsx
  fabbwled-frontend/src/routes/create/ExistingCharacters.tsx
  fabbwled-frontend/src/routes/game/Game.module.scss
  fabbwled-frontend/src/routes/game/Game.tsx
  fabbwled-frontend/src/routes/game/desk.jpg
  fabbwled-frontend/src/routes/game/eraser.png
  package-lock.json
  package.json
Labels: region-frontend

#557 Added various sections
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/SectionNode.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section10.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section14.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section16.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section17.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section18.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section19.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section21.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section22.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section24.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section29.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section34.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section36.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section4.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section5.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/Section6.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/Action.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/ActionBuilder.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/YamlSectionLoader.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/character/PlayerDto.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/character/ProfessionEnum.java
  fabbwled-backend/src/main/resources/sections/001-036.yaml
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/book/book1/YamlSectionValidationTest.java
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/book/yaml/ActionBuilderTest.java
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/book/yaml/YamlSectionLoaderTest.java
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/book/yaml/YamlVerificationTest.java
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/controller/PlayerControllerTest.java
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/service/SectionServiceTest.java
Labels: section, region-backend

#955 Implemented easy roll dice sections: 254, 257, 266 and 270
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s253_288/Section254.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s253_288/Section257.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s253_288/Section266.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s253_288/Section270.java
Labels: section
