Repository keykey7/fabbwled, changes with the owners that CODEOWNERS names for each.
All owners: @Lion-alt, @Desi7, @kimberlymo, @adrsch04, @miolmi, @Rwael, @MagischerWolf05, @elion004, @tamer545, @stevan04, @dbabvwid, @lucasmillanm, @corsin-lehre, @Nilstrieb, @Noeell, @nnikolajj, @JJoeeyy, @Oliver-was-taken, @kaibria

CODEOWNERS:

# Section Responsibles (from, to, who)
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s001_036/ @Lion-alt
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s037_072/ @Desi7
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s073_108/ @kimberlymo
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s109_144/ @adrsch04
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s145_180/ @miolmi
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s181_216/ @Rwael
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s217_252/ @MagischerWolf05
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s253_288/ @elion004
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s289_324/ @tamer545
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s325_360/ @stevan04
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s361_396/ @dbabvwid
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s397_432/ @lucasmillanm
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s433_468/ @corsin-lehre
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s469_504/ @Nilstrieb
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s505_540/ @Noeell
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s541_576/ @nnikolajj
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s577_612/ @JJoeeyy
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s613_648/ @Oliver-was-taken
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s649_680/ @kaibria

.github/workflows/ @dbabvwid
fabbwled-frontend/ @corsin-lehre
fabbwled-backend/  @Nilstrieb

fixed choices to be complient with schema
  fabbwled-backend/src/main/resources/sections/001-036.yaml
Owners: @Nilstrieb

add sections 109, 111, 114 and 118
  fabbwled-backend/src/main/resources/sections/109-144.yaml
Owners: @Nilstrieb

next fields & foramtting
  fabbwled-frontend/src/App.tsx
  fabbwled-frontend/src/routes/create/AdventureSheet.tsx
  fabbwled-frontend/src/routes/create/ChooseCreate.tsx
  fabbwled-frontend/src/routes/create/adventure-sheet.scss
  fabbwled-frontend/src/routes/create/choose-create.scss
Owners: @corsin-lehre

next fields & formatting
  fabbwled-frontend/src/routes/create/choose-create.scss
Owners: @corsin-lehre

Implement a reachability analysis for sections
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/Action.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/YamlActionReachabilityHelper.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/YamlReachabilityResult.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/YamlSection.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/YamlSectionLoader.java
  fabbwled-backend/src/main/resources/sections/649-680.yaml
Owners: @Nilstrieb

even more fields & formatting
  fabbwled-frontend/src/components/CharacterCard/CharacterCard.tsx
  fabbwled-frontend/src/components/CharacterCard/character-card.scss
  fabbwled-frontend/src/routes/create/AdventureSheet.tsx
  fabbwled-frontend/src/routes/create/ExistingCharacters.tsx
Owners: @corsin-lehre

Update fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/character/Character.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/character/Character.java
Owners: @Nilstrieb

Update fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/character/Character.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/character/Character.java
Owners: @Nilstrieb

worked on character creation and added update endpoint which is there to update the player without unneeded checks in rank and basestats
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/character/Character.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/character/RankEnum.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/controller/PlayerController.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/CharacterService.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/PlayerSession.java
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/service/CharacterServiceTest.java
Owners: @Nilstrieb

fix ci
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/service/CharacterServiceTest.java
Owners: @Nilstrieb

fix ci
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/service/CharacterServiceTest.java
Owners: @Nilstrieb

add yupp & formik for input validation
  fabbwled-frontend/package.json
  fabbwled-frontend/src/routes/create/AdventureSheet.tsx
  fabbwled-frontend/src/routes/create/AdventureSheetSchema.ts
Owners: @corsin-lehre

Update fabbwled-backend/src/main/resources/sections/001-036.yaml
  fabbwled-backend/src/main/resources/sections/001-036.yaml
Owners: @Nilstrieb

Update fabbwled-backend/src/main/resources/sections/001-036.yaml
  fabbwled-backend/src/main/resources/sections/001-036.yaml
Owners: @Nilstrieb

fixed syntax error in yaml
  fabbwled-backend/src/main/resources/sections/001-036.yaml
Owners: @Nilstrieb

fix yaml syntax error
  fabbwled-backend/src/main/resources/sections/001-036.yaml
Owners: @Nilstrieb

completed section 23, 28, 36
  fabbwled-backend/src/main/resources/sections/001-036.yaml
Owners: @Nilstrieb

put many sections into one pull request
  fabbwled-backend/src/main/resources/sections/001-036.yaml
Owners: @Nilstrieb

section_37-72
  fabbwled-backend/src/main/resources/sections/037-072.yaml
Owners: @Nilstrieb

feat: added dice Component (Mit Timo und Desi)
  fabbwled-frontend/package.json
  fabbwled-frontend/src/DiceComponent.tsx
Owners: @corsin-lehre

section 397, 401, 407, 408, 410, 412, 421, 429 (#389)
  fabbwled-backend/src/main/resources/sections/397-432.yaml
Owners: @Nilstrieb

card for existing characters
  fabbwled-frontend/src/components/CharacterCard/CharacterCard.tsx
  fabbwled-frontend/src/components/CharacterCard/character-card.scss
  fabbwled-frontend/src/routes/create/ExistingCharacters.tsx
Owners: @corsin-lehre

change button to class
  fabbwled-frontend/src/routes/create/ChooseCreate.tsx
  fabbwled-frontend/src/routes/create/choose-create.scss
Owners: @corsin-lehre

implement sections 80, 84, 85, 86, 95, 98, 99
  fabbwled-backend/src/main/resources/sections/073-108.yaml
Owners: @Nilstrieb

Add tests for action reachability
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/book/yaml/YamlVerificationTest.java
Owners: @Nilstrieb

Rename diverges->terminates
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/Action.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/YamlActionReachabilityHelper.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/YamlReachabilityResult.java
Owners: @Nilstrieb

update package.json
  package-lock.json
  package.json
Owners: none

use main version of gradlew
  .gitignore
  fabbwled-backend/gradlew
Owners: @Nilstrieb

should fix stuff
  fabbwled-frontend/package.json
  fabbwled-frontend/src/routes/game/Game.module.scss
  fabbwled-frontend/src/routes/game/Game.tsx
  package-lock.json
  package.json
Owners: @corsin-lehre

add frontend side
  fabbwled-frontend/src/routes/game/Game.module.scss
  fabbwled-frontend/src/routes/game/Game.tsx
  fabbwled-frontend/src/routes/game/eraser.png
Owners: @corsin-lehre

changes
  fabbwled-frontend/src/routes/game/Game.module.scss
  fabbwled-frontend/src/routes/game/Game.tsx
Owners: @corsin-lehre

Fix: Chanched The ShardSystem to a Record so the property becom immutable
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/ShardSystem.java
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/service/ShardSystemTest.java
Owners: @Nilstrieb

Remove faulty test
  fabbwled-backend/src/main/resources/sections/649-680.yaml
Owners: @Nilstrieb

add sections 128, 129, 130, 131, 133, 134, 135, 137, 138 and 140
  fabbwled-backend/src/main/resources/sections/109-144.yaml
Owners: @Nilstrieb

feat: add section 295 and 302
  fabbwled-backend/src/main/resources/sections/289-324.yaml
Owners: @Nilstrieb

feat: added section 654
  fabbwled-backend/src/main/resources/sections/649-680.yaml
Owners: @Nilstrieb

implemented simple sections 156, 163, 165, 171, 173, 179, 180
  fabbwled-backend/src/main/resources/sections/145-180.yaml
Owners: @Nilstrieb

update to multiple line
  fabbwled-backend/src/main/resources/sections/397-432.yaml
Owners: @Nilstrieb

fix spaces
  fabbwled-backend/src/main/resources/sections/397-432.yaml
Owners: @Nilstrieb

fix: dice props
  fabbwled-frontend/package-lock.json
  fabbwled-frontend/src/DiceComponent.tsx
Owners: @corsin-lehre
