Repository keykey7/fabbwled, changes with the owners that CODEOWNERS names for each.
All owners: @Lion-alt, @Desi7, @kimberlymo, @adrsch04, @miolmi, @Rwael, @MagischerWolf05, @elion004, @tamer545, @stevan04, @dbabvwid, @lucasmillanm, @corsin-lehre, @Nilstrieb, @Noeell, @nnikolajj, @JJoeeyy, @Oliver-was-taken, @kaibria

Feat: Added A ShardSystem to Handle the amount of Shards.
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/PlayerSession.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/ShardSystem.java
Owners: @Nilstrieb

Create initial_feature template
  .github/ISSUE_TEMPLATE/initial_feature
Owners: none

Update initial_feature
  .github/ISSUE_TEMPLATE/initial_feature
Owners: none

new issue template - branch was named automatically :( (#161)
  .github/ISSUE_TEMPLATE/initial_feature
Owners: none

Update and rename initial_feature to initial_feature.md
  .github/ISSUE_TEMPLATE/initial_feature.md
Owners: none

Update and rename initial_feature to initial_feature.md (#166)
  .github/ISSUE_TEMPLATE/initial_feature.md
Owners: none

add sections for every dev
  fabbwled-backend/src/main/resources/sections/001-036.yaml
  fabbwled-backend/src/main/resources/sections/037-072.yaml
  fabbwled-backend/src/main/resources/sections/073-108.yaml
  fabbwled-backend/src/main/resources/sections/109-144.yaml
  fabbwled-backend/src/main/resources/sections/145-180.yaml
  fabbwled-backend/src/main/resources/sections/181-216.yaml
  fabbwled-backend/src/main/resources/sections/217-252.yaml
  fabbwled-backend/src/main/resources/sections/253-288.yaml
  fabbwled-backend/src/main/resources/sections/289-324.yaml
  fabbwled-backend/src/main/resources/sections/325-360.yaml
  fabbwled-backend/src/main/resources/sections/361-396.yaml
  fabbwled-backend/src/main/resources/sections/397-432.yaml
  fabbwled-backend/src/main/resources/sections/433-468.yaml
  fabbwled-backend/src/main/resources/sections/469-504.yaml
  fabbwled-backend/src/main/resources/sections/505-540.yaml
  fabbwled-backend/src/main/resources/sections/541-576.yaml
  fabbwled-backend/src/main/resources/sections/577-612.yaml
  fabbwled-backend/src/main/resources/sections/613-648.yaml
  fabbwled-backend/src/main/resources/sections/649-680.yaml
Owners: @Nilstrieb

Add sections for every dev (#182)
  fabbwled-backend/src/main/resources/sections/001-036.yaml
  fabbwled-backend/src/main/resources/sections/037-072.yaml
  fabbwled-backend/src/main/resources/sections/073-108.yaml
  fabbwled-backend/src/main/resources/sections/109-144.yaml
  fabbwled-backend/src/main/resources/sections/145-180.yaml
  fabbwled-backend/src/main/resources/sections/181-216.yaml
  fabbwled-backend/src/main/resources/sections/217-252.yaml
  fabbwled-backend/src/main/resources/sections/253-288.yaml
  fabbwled-backend/src/main/resources/sections/289-324.yaml
  fabbwled-backend/src/main/resources/sections/325-360.yaml
  fabbwled-backend/src/main/resources/sections/361-396.yaml
  fabbwled-backend/src/main/resources/sections/397-432.yaml
  fabbwled-backend/src/main/resources/sections/433-468.yaml
  fabbwled-backend/src/main/resources/sections/469-504.yaml
  fabbwled-backend/src/main/resources/sections/505-540.yaml
  fabbwled-backend/src/main/resources/sections/541-576.yaml
  fabbwled-backend/src/main/resources/sections/577-612.yaml
  fabbwled-backend/src/main/resources/sections/613-648.yaml
  fabbwled-backend/src/main/resources/sections/649-680.yaml
Owners: @Nilstrieb

Create basic JSON schema for sections
  fabbwled-backend/section-schema.json
Owners: @Nilstrieb

Add trailing whitespace
  fabbwled-backend/section-schema.json
Owners: @Nilstrieb

added returning of all characters and specified CharacterDto (has to be tested yet)
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/character/Character.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/character/ProfessionEnum.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/character/RankEnum.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/controller/PlayerController.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/CharacterService.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/PlayerSession.java
Owners: @Nilstrieb

updated stats and removed defence, because it is calculated from stamina + rank + perks
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/character/Character.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/controller/PlayerController.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/CharacterService.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/PlayerSession.java
Owners: @Nilstrieb

remove unused method
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/CharacterService.java
Owners: @Nilstrieb

init routes
  fabbwled-frontend/src/App.tsx
  fabbwled-frontend/src/main.tsx
  fabbwled-frontend/src/routes/create/Create.tsx
  fabbwled-frontend/src/routes/game/Game.tsx
Owners: @corsin-lehre

Create basic JSON schema for sections (#239)
  fabbwled-backend/section-schema.json
Owners: @Nilstrieb

prettier
  fabbwled-frontend/src/App.tsx
  fabbwled-frontend/src/main.tsx
  fabbwled-frontend/src/routes/create/Create.tsx
  fabbwled-frontend/src/routes/game/Game.tsx
Owners: @corsin-lehre

Feature/setup routes (#283)
  fabbwled-frontend/src/App.tsx
  fabbwled-frontend/src/main.tsx
  fabbwled-frontend/src/routes/create/Create.tsx
  fabbwled-frontend/src/routes/game/Game.tsx
Owners: @corsin-lehre

Load section YAML files
  fabbwled-backend/build.gradle
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/Action.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/ActionBuilder.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/Condition.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/RawAction.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/RawChoice.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/RawCondition.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/RawSection.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/SectionLoader.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/YamlSection.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/SectionService.java
  fabbwled-backend/src/main/resources/sections/001-036.yaml
Owners: @Nilstrieb

added validation and tested API manually
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/character/Character.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/character/RankEnum.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/controller/PlayerController.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/CharacterService.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/PlayerSession.java
Owners: @Nilstrieb

corrected wrong returning of defence
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/PlayerSession.java
Owners: @Nilstrieb

Add a few tests
  fabbwled-backend/build.gradle
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/yaml/SectionLoader.java
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/SectionService.java
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/book/yaml/ActionBuilderTest.java
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/book/yaml/SectionLoaderTest.java
Owners: @Nilstrieb

Cleanup
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/book/yaml/ActionBuilderTest.java
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/book/yaml/SectionLoaderTest.java
Owners: @Nilstrieb

added section 253
  fabbwled-backend/src/main/resources/sections/253-288.yaml
Owners: @Nilstrieb

implemented section-326
  fabbwled-backend/src/main/resources/sections/325-360.yaml
Owners: @Nilstrieb

Fix broken test
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/service/SectionServiceTest.java
Owners: @Nilstrieb

Add test for loading all section
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/book/book1/YamlSectionValidationTest.java
Owners: @Nilstrieb

ad sass + root styles
  fabbwled-frontend/package-lock.json
  fabbwled-frontend/package.json
  fabbwled-frontend/src/App.tsx
  fabbwled-frontend/src/app.scss
Owners: @corsin-lehre

style for character creation options
  fabbwled-frontend/src/routes/create/ChooseCreate.tsx
  fabbwled-frontend/src/routes/create/choose-create.scss
Owners: @corsin-lehre

#23 Added Gradle deps
  fabbwled-backend/build.gradle
  fabbwled-backend/src/main/resources/application.yaml
Owners: @Nilstrieb

add tests for CharacterService
  fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/service/CharacterService.java
  fabbwled-backend/src/test/java/ch/bbw/fabbwled/lands/service/CharacterServiceTest.java
Owners: @Nilstrieb

implemented section 1
  fabbwled-backend/src/main/resources/sections/001-036.yaml
Owners: @Nilstrieb

implemented section 3
  fabbwled-backend/src/main/resources/sections/001-036.yaml
Owners: @Nilstrieb

began with section 4 but shard system and item system is required
  fabbwled-backend/src/main/resources/sections/001-036.yaml
Owners: @Nilstrieb

implemented section 7
  fabbwled-backend/src/main/resources/sections/001-036.yaml
Owners: @Nilstrieb

implemented section 8
  fabbwled-backend/src/main/resources/sections/001-036.yaml
Owners: @Nilstrieb

began implementing section 9 (acquiring of codeword is needed)
  fabbwled-backend/src/main/resources/sections/001-036.yaml
Owners: @Nilstrieb

implemented section 11
  fabbwled-backend/src/main/resources/sections/001-036.yaml
Owners: @Nilstrieb

implemented section 26
  fabbwled-backend/src/main/resources/sections/001-036.yaml
Owners: @Nilstrieb

implemented section 32
  fabbwled-backend/src/main/resources/sections/001-036.yaml
Owners: @Nilstrieb

implemented section 35
  fabbwled-backend/src/main/resources/sections/001-036.yaml
Owners: @Nilstrieb

CODEOWNERS:

# Section Responsibles (from, to, who)
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s001_036/ @Lion-alt
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s037_072/ @Desi7
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s073_108/ @kimberlymo
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s109_144/ @adrsch04
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s145_180/ @miolmi
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s181_216/ @Rwael
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s217_252/ @MagischerWolf05
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s253_288/ @elion004
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s289_324/ @tamer545
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s325_360/ @stevan04
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s361_396/ @dbabvwid
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s397_432/ @lucasmillanm
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s433_468/ @corsin-lehre
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s469_504/ @Nilstrieb
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s505_540/ @Noeell
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s541_576/ @nnikolajj
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s577_612/ @JJoeeyy
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s613_648/ @Oliver-was-taken
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s649_680/ @kaibria

.github/workflows/ @dbabvwid
fabbwled-frontend/ @corsin-lehre
fabbwled-backend/  @Nilstrieb
